* {
    background: #000;
}

.parent, .parent2{
    background: darkblue;
    height: 400px;
    width: 400px;
}
.child, .child2{
    background: blue;
    height: 50%;
    width: 50%;
}

.child{
    transition: transform 1s ease-in;
}
.parent:hover .child{
    transform: translateX(100%);
}


.child2{
    animation: left-to-right 1s ease-in forwards infinite alternate;
}
.parent2:hover .child2{
    animation-play-state: paused;
}
@keyframes left-to-right{
    0%{
        transform: translateX(0);
        background: red;
    }
    33%{
        transform: translateY(100%);
    }
    50%{
        background: blue;
    }
    66%{
        transform: translateX(100%) translateY(100%);
    }
    100%{
        transform: translateX(100%);
        background: green;
    }
}